html{
    background-color: rgb(88, 197, 197);
}
.top__page{
    color: orange;
    background-color: green;
    padding: 1.5%;
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
}

h1{
    font-size: 2rem;
}

.top__page p{
    font-size: 1.5rem;
}

.renseignement{
    position: fixed;
    left: 5%;
    height: 100vh;
    top: 10;
    padding-top: 2%;
    width: 20%;
}

ul{
    padding-top: 10%;
}

ul li{
    padding: 2%;
    padding-top: 3%;
}

.nav__mail{
    font-size: 1rem;
}

.renseignement h2{
    font-size: 1.3rem;
    font-weight: bold;
}

.different__parties{
    display: flex;
    margin: 15% 20%;
}